*
docker/*.*                              @unicef/hope-arch

src/hope_live/migrations/*.py           @saxix @unicef/hope-arch
pyproject.toml                          @saxix @unicef/hope-arch
uv.lock                                 @saxix @unicef/hope-arch
