[run]
branch = True
source = src/hope_live
data_file = .coverage
relative_files = True
parallel = True

omit =
    */tests/**
    */migrations/*,
    */commands/*,
    */apps.py,
    */wsgi.py,
    */__pycache__/*
    */test_*.py
    */conftest.py
    */setup.py
    */manage.py
    */settings.py
    */fragments/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    pragma: no-cover
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except ImportError
    # Don't complain if non-runnable code isn't run:
    #if 0:
    if __name__ == .__main__.:

fail_under = 0

ignore_errors = True

[html]
directory = ~build/coverage
title = HOPE Live Dashboard Coverage Report

[xml]
output = ~build/coverage.xml
