{% extends "layout.html" %}

{% block menu %}{% endblock %}

{% block content %}
{# <div class="justify-center-safe"> #}
    <div class="hero bg-base-200 in-h-screen">
        <div class="hero-content flex-col lg:flex-row">
            <img src="https://www.unicef.org/hope-hct/sites/unicef.org.hope-hct/files/styles/standard_banner/public/UN0221828.webp?itok=aqN-hjfB"
                 class="w-7/12 rounded-lg shadow-2xl"/>
            <div>
                <h1 class="text-5xl font-bold">HOPE</h1>
                <p class="py-6">
                    HOPE is UNICEF’s solution to collect and process personal data from beneficiaries and frontline workers to deliver humanitarian cash transfers safely
                </p>
                <a class="btn btn-primary" href="https://www.unicef.org/hope-hct/about">Learn more</a>
            </div>
        </div>
    </div>
{# </div> #}
{% endblock content %}
