{% load i18n static %}

<div class="flex items-center ml-auto">
    <div class="flex flex-row group items-center leading-none relative">
        <div class="flex gap-4 items-center">
            {% if environment %}
            {% endif %}

            {% if extra_userlinks %}
                {{ extra_userlinks }}
            {% endif %}

            <a id="issue-opener" href="#">Open Issue</a>
        </div>
    </div>

    {% if nav_global_side %}
        {{ nav_global_side }}
    {% endif %}
</div>
