{% load static %}
<div class="navbar bg-base-100 shadow-sm border-b border-base-300 z-10 h-16">
    <div class="flex-1"></div>

    <div class="flex-none gap-4 items-center pr-4">
        {% include "includes/theme_switch.html" %}

        {% if request.user.is_authenticated and request.user.is_staff %}
            <a id="issue-opener" class="btn btn-sm btn-warning text-gray-900 gap-2 normal-case font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                </svg>
                Issue
            </a>
        {% endif %}

        {% if request.user.is_authenticated %}
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 h-10 rounded-full overflow-hidden border border-base-200">
                        <img class="w-full h-full object-cover" src="https://i.pravatar.cc/150?u={{ request.user.username }}" alt="{{ request.user.username }}" />
                    </div>
                </label>
                <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                    <li class="px-4 py-2 text-xs font-bold opacity-50">{{ request.user.username }}</li>
                    <li><a href="{% url 'web:logout_confirm' %}">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <a href="{% url 'web:login' %}" class="btn btn-primary btn-sm">Login</a>
        {% endif %}
    </div>
</div>
