<input id="nav-toggle" type="checkbox" checked class="peer hidden" />
<aside
    class="z-50 bg-white shadow-lg h-full transition-all duration-300 ease-in-out w-0 overflow-hidden peer-checked:w-64 shrink-0"
    aria-label="Sidebar">
    <div class="px-3 w-64 py-4 flex flex-col justify-between bg-white h-full">
        <ul class="space-y-2 flex-grow">
            <!-- Dashboards -->
            <li>
                <a href='{% url "web:dashboard" %}' class="flex items-center p-2 text-base font-semibold text-gray-900 rounded-lg hover:bg-gray-100 group">
                    <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                        <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                    </svg>
                    <span class="ml-3">Financial Dashboard</span>
                </a>
            </li>
            <li>
                <a href='{% url "web:demographic" %}' class="flex items-center p-2 text-base font-semibold text-gray-900 rounded-lg hover:bg-gray-100 group">
                    <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path>
                    </svg>
                    <span class="ml-3">Demographic</span>
                </a>
            </li>
            <li>
                <a href='{% url "web:completion" %}' class="flex items-center p-2 text-base font-semibold text-gray-900 rounded-lg hover:bg-gray-100 group">
                    <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <span class="ml-3">Completion Rate</span>
                </a>
            </li>
            <li>
                <a href='{% url "web:live" %}' class="flex items-center p-2 text-base font-semibold text-gray-900 rounded-lg hover:bg-gray-100 group">
                    <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
                    </svg>
                    <span class="ml-3">Live Overview</span>
                </a>
            </li>
        </ul>

        <!-- Bottom Menu: Admin & Sign Out -->
        <ul class="space-y-2 mt-auto pt-4 border-t border-gray-200">
            {% if request.user.is_staff %}
            <li>
                <a href='{% url "admin:index" %}' target="_blank" class="flex items-center p-2 text-base font-semibold text-gray-900 rounded-lg hover:bg-gray-100 group">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                    </svg>
                    <span class="ml-3">Admin</span>
                </a>
            </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                <form action="{% url 'web:logout' %}" method="post" class="w-full">
                    {% csrf_token %}
                    <button type="submit" class="flex items-center w-full p-2 text-base font-semibold text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 2.062-5M12 12h9.75" />
                        </svg>
                        <span class="ml-3 whitespace-nowrap">Sign Out</span>
                    </button>
                </form>
                {% else %}
                <a href='{% url "web:login" %}' class="flex items-center p-2 text-base font-semibold text-gray-900 rounded-lg hover:bg-gray-100 group">
                    <svg class="w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="ml-3 whitespace-nowrap">Sign In</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>

</aside>
